html,
body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  padding:     0;
  margin:      0;
}



#main {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 90vw;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  box-shadow: 1px 5px 20px rgba(0,0,0,0.1);
  padding: 30px;
}


#authorize a {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 45px;
  border-radius: 50px;
  border: 1px solid;
  text-decoration: none;
  margin: 8px 0;
}



h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5em;
  font-size: 1em;
  font-family: Montserrat, Open Sans, Helvetica, Arial, sans-serif;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  font-weight: 400;
  white-space: nowrap;
}




dl.grid {
  display: flex;
}

dl.grid section {
  flex: 1 0 0;
}

dl.grid dt,
dl.grid dd {
  margin: 0;
  padding: 4px;
  text-align: center;
}

dd {
  font-size: 0.6em;
  font-weight: 400;
}

dt {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 0.72em;
  font-family: Montserrat, Open Sans, Helvetica, Arial, sans-serif;
}

.row {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack {
  flex: 1;
  display:     flex;
  flex-direction: column;
  align-items: center;
}




#user-profile {
  border-top: 1px solid #e8e8e8;
  margin-top: 24px;
  padding:    24px;
  display:    flex;
  flex-flow:  column nowrap;
}


#user-profile img {
  margin: 0 32px 0 0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#user-profile h2 sub {
  font-size: 1em;
  vertical-align: inherit;
  font-weight: 300;
}


@media screen and (max-width: 640px) {
  .row {
    flex-wrap: wrap;
  }

  h1 {
    letter-spacing: 0.3em;
  }

  h2 {
    font-size: 1.2em;
    margin-top: 3em;
  }
}
