@import "variables";

@font-face {
  font-family: 'duality';
  src:  url('#{$icomoon-font-path}/duality.eot?k6t1gd');
  src:  url('#{$icomoon-font-path}/duality.eot?k6t1gd#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/duality.ttf?k6t1gd') format('truetype'),
    url('#{$icomoon-font-path}/duality.woff?k6t1gd') format('woff'),
    url('#{$icomoon-font-path}/duality.svg?k6t1gd#duality') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'duality' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dl-home-outline {
  &:before {
    content: $dl-home-outline;
  }
}
.dl-home {
  &:before {
    content: $dl-home;
  }
}
.dl-mail-outline {
  &:before {
    content: $dl-mail-outline;
  }
}
.dl-mail {
  &:before {
    content: $dl-mail;
  }
}
.dl-message-outline {
  &:before {
    content: $dl-message-outline;
  }
}
.dl-message {
  &:before {
    content: $dl-message;
  }
}
.dl-phone-alt-outline {
  &:before {
    content: $dl-phone-alt-outline;
  }
}
.dl-phone-alt {
  &:before {
    content: $dl-phone-alt;
  }
}
.dl-phone-outline {
  &:before {
    content: $dl-phone-outline;
  }
}
.dl-phone {
  &:before {
    content: $dl-phone;
  }
}
.dl-picture-outline {
  &:before {
    content: $dl-picture-outline;
  }
}
.dl-picture {
  &:before {
    content: $dl-picture;
  }
}
.dl-save {
  &:before {
    content: $dl-save;
  }
}
.dl-save-outline {
  &:before {
    content: $dl-save-outline;
  }
}
.dl-display-outline {
  &:before {
    content: $dl-display-outline;
  }
}
.dl-display {
  &:before {
    content: $dl-display;
  }
}
.dl-globe-outline {
  &:before {
    content: $dl-globe-outline;
  }
}
.dl-globe {
  &:before {
    content: $dl-globe;
  }
}
.dl-camera-outline {
  &:before {
    content: $dl-camera-outline;
  }
}
.dl-camera {
  &:before {
    content: $dl-camera;
  }
}
.dl-location-outline {
  &:before {
    content: $dl-location-outline;
  }
}
.dl-location {
  &:before {
    content: $dl-location;
  }
}
.dl-book-outline {
  &:before {
    content: $dl-book-outline;
  }
}
.dl-book {
  &:before {
    content: $dl-book;
  }
}
.dl-dots-outline {
  &:before {
    content: $dl-dots-outline;
  }
}
.dl-user-outline {
  &:before {
    content: $dl-user-outline;
  }
}
.dl-user {
  &:before {
    content: $dl-user;
  }
}
.dl-dots {
  &:before {
    content: $dl-dots;
  }
}
.dl-menu {
  &:before {
    content: $dl-menu;
  }
}
.dl-chevron-down {
  &:before {
    content: $dl-chevron-down;
  }
}
.dl-chevron-left {
  &:before {
    content: $dl-chevron-left;
  }
}
.dl-chevron-up {
  &:before {
    content: $dl-chevron-up;
  }
}
.dl-chevron-right {
  &:before {
    content: $dl-chevron-right;
  }
}

