$icomoon-font-path: "fonts" !default;

$dl-home-outline: "\68";
$dl-home: "\48";
$dl-mail-outline: "\65";
$dl-mail: "\45";
$dl-message-outline: "\6d";
$dl-message: "\4d";
$dl-phone-alt-outline: "\5b";
$dl-phone-alt: "\5d";
$dl-phone-outline: "\28";
$dl-phone: "\29";
$dl-picture-outline: "\70";
$dl-picture: "\50";
$dl-save: "\53";
$dl-save-outline: "\73";
$dl-display-outline: "\64";
$dl-display: "\44";
$dl-globe-outline: "\67";
$dl-globe: "\47";
$dl-camera-outline: "\63";
$dl-camera: "\43";
$dl-location-outline: "\6c";
$dl-location: "\4c";
$dl-book-outline: "\62";
$dl-book: "\42";
$dl-dots-outline: "\2e";
$dl-user-outline: "\75";
$dl-user: "\55";
$dl-dots: "\2026";
$dl-menu: "\2d";
$dl-chevron-down: "\3f";
$dl-chevron-left: "\3c";
$dl-chevron-up: "\3d";
$dl-chevron-right: "\3e";

